@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

:root {
  --button-background: rgb(8, 154, 8);
  --button-color: white;
  --button-background-hover: rgb(9, 122, 9);
  --button-outline-focus: rgb(8, 81, 8);
  --gameover-mainText-font-size: 32px;
  --gameover-mainText-color: #ffde00;
  --gameover-text-shadow-color: #0b437e;
  --gameover-dialog-background: rgb(146, 183, 223);
}

.gameover-dialog {
  position: relative;
  background-color: white;
  padding: 50px 40px;
  width: 400px;
  height: 500px;
  animation: dropdown 400ms ease-in-out;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: var(--gameover-dialog-background);
}

.gameover-dialog > button {
  position: absolute;
  bottom: 50px;
  padding: 5px 40px;
  border: none;
  outline: none;
  background-color: var(--button-background);
  color: var(--button-color);
  border-radius: 10px;
  font-family: sans-serif;
}

.gameover-dialog > button:hover {
  background-color: var(--button-background-hover);
}
.gameover-dialog > button:focus {
  outline: 2px solid var(--button-outline-focus);
}
.gameover-dialog > h3 {
  font-size: var(--gameover-mainText-font-size);
  font-family: "Pokemon Solid";
  color: var(--gameover-mainText-color);
  text-shadow: 5px 5px var(--gameover-text-shadow-color);
  letter-spacing: 1px;
}

.gameover-dialog-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.gameover-dialog > p {
  color: var(--gameover-mainText-color);
  text-shadow: 1px 1px var(--gameover-text-shadow-color);
  font-size: 18px;
}

@media (max-width: 480px) {
  .gameover-dialog {
    width: 100%;
    height: 100%;
  }
}
